.header-from-details {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.child {
  width: 180px;
  height: 180px;
}
